main{
    width: 100%;
    .container{
        margin: auto;
        .sub-menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-item{
                margin: auto;
                text-align: center;
            }
    
        }
    }
    
}