/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*=============== Varibles sass ===============*/
/********** Font weight **********/
/********** Colors **********/
/********** Z-index **********/
/********** Variables CSS **********/
:root {
  /********** Fonts **********/
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --big-font-size: 1.25rem;
  --semibig-font-size: 1.16rem;
  --normal-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.938rem;
  }
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: #f4f4f6;
  color: #1d1d1f;
  overflow: auto;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
}

header {
  background-color: #f4f4f6;
  width: 100vw;
  height: 3rem;
  -webkit-box-shadow: 0 4px 4px #1d1d1d0d;
          box-shadow: 0 4px 4px #1d1d1d0d;
}

header .container {
  margin: auto;
}

header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.2rem;
}

header .container .nav-logo a {
  color: #1d1d1f;
  font-size: var(--semibig-font-size);
  font-weight: 700;
}

header .container .nav-menu ul {
  display: inline-block;
}

header .container .nav-menu ul li {
  display: inline-block;
  margin-right: 0.8rem;
}

header .container .nav-menu ul li a {
  color: #1d1d1f;
}

header .container .nav-menu .toggle-btn {
  display: none;
  margin-right: 0.8rem;
}

header .container .nav-menu #compare {
  display: inline-block;
  font-size: var(--normal-font-size);
  font-weight: 700;
  background-color: #1d1d1f;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 1.6rem;
}

@media screen and (max-width: 960px) {
  header .container .nav-menu .toggle-btn {
    display: inline-block;
  }
  header .container .nav-menu ul {
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #b8b8b8;
  }
  header .container .nav-menu ul li {
    width: 100%;
    text-align: center;
  }
}

main {
  width: 100%;
}

main .container {
  margin: auto;
}

main .container .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .sub-menu-item {
  margin: auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */